# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
*.egg-info/
dist/
build/
*.egg

# Virtual environment
venv/
.env/

# IDE-specific files
.vscode/
.idea/

# Compiled Python files
*.pyc

# Jupyter Notebook
.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite3

# OS-specific files
.DS_Store
Thumbs.db

models/
